<!DOCTYPE html>
<html>
    <head>
        <title>Lista nadanych paczek</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/viewParcel.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin-ext" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1><a href="../../index.html">Paczkolab</a></h1>
            <hr>
            <div class="heading-box">
                <h2>Lista nadanych paczek</h2>
            </div>
            <div class="menu-box">
                <table id="view-parcel">
                    <tr>
                        <th>Id</th>
                        <th>Adres</th>
                        <th>Imie i nazwisko</th>
                        <th>Rozmiar</th>
                        <th>Cena</th>
                        <th>Akcje</th>
                    </tr>
                    <!-- Load data from database using ajax -->
                </table>
            </div>
        </div>
    </body>
</html>
