<!DOCTYPE html>
<html>
    <head>
        <title>Dodawanie nowego adresu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/addAddress.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin-ext" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1><a href="../../index.html">Paczkolab</a></h1>
            <hr>
            <div class="heading-box">
                <h2>Dodawanie nowego adresu</h2>
            </div>
            <div class="menu-box">
                <form id="add-address">
                    
                    <label for="city">Miasto</label>
                    <input type="text" name="city" id="city"><br>
                    
                    <label for="street">Ulica</label>
                    <input type="text" name="street" id="street"><br>
                    
                    <label for="code">Kod pocztowy</label>
                    <input type="text" name="code" id="code"><br>
                    
                    <label for="flat">Nr mieszkania</label>
                    <input type="text" name="flat" id="flat"><br>
                    
                    <input type="submit" value="Dodaj">
                </form>
            </div>
        </div>
    </body>
</html>
