<!DOCTYPE html>
<html>
    <head>
        <title>Dodawanie nowej skrzynki</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/app.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin-ext" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1><a href="../../index.html">Paczkolab</a></h1>
            <hr>
            <div class="heading-box">
                <h2>Dodaj nową skrzynkę</h2>
            </div>
            <div class="menu-box">
            <!-- action="../../router.php/box/" method="POST" -->
                <form id="add-box" >

                    <label for="address">Adres</label>
                    <input type="text" name="address_id" id="address"><br>

                    <label for="size">Rozmiar</label>
                    <input type="text" name="size_id" id="size"><br>

                    <input type="submit" value="Dodaj">
                </form>
            </div>
        </div>
    </body>
</html>
